<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Basics</title>
  <script src="vue.js"></script>
  <style>
    .demo {
      display: inline-block;
      background-color: grey;
      margin: 10px;
      height: 100px;
      width: 100px;
    }
    .red {
      background-color: red;
    }
    .green {
      background-color: green;
    }
    .blue {
      background-color: blue;
    }
  </style>
</head>
<body>

  <div id="app">
    <ul>
      <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
    </ul>
    <template v-for="(ingredient, index) in ingredients">
      <h1>{{ ingredient }}</h1>
      <p>{{ index }}</p>
    </template>
  </div>

  <script>
    new Vue({
      el: '#app',
      data: {
        ingredients: ['meat', 'fruit', 'cookies'],
        persons: [
          {name: 'Max', age:  27, color: 'red'},
          {name: 'Anna', age:  'unknown', color: 'blue'}
        ]
      }
    });
  </script>
</body>
</html>
